.centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  vertical-align: middle;
}
.centered2 a img{
  display: block;
  margin:auto;
  vertical-align: middle;
}

.verticalhorizontal{
  display: table-cell;
  height: 300px;
  text-align: center;
  width: 300px;
  vertical-align: middle;
}
